<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Welcome to my</h1>
<h6>Esports Website</h6>
<h5>You can choose to visit</h5>
<h4>Or</h4>
<a href="/games/"> <button class="btn btn-primary">Games</button> </a>
<a href="/players/"> <button class="btn btn-secondary">Player</button> </a>

<%- include('../partials/footer') %>


<style>
    h1{
        font-weight: bold;
        position: relative;
        left: 100px;
        top: 50px;
    }

    h6{
        font-weight: bold;
        position: relative;
        font-size: 40px;
        left: 150px;
        top: 50px;
        color: rgb(17, 116, 116);
    }

    .btn-primary{
        position: relative;
        top: 5px;
        left: 350px;
        padding: 10px 12px;
        width: 12%;
        background-color: rgb(17, 116, 116);
        border-radius: 10px;
    }

    .btn-secondary{
        position: relative;
        top: 110px;
        left: 120px;
        padding: 10px 12px;
        width: 12%;
        background-color: rgb(17, 116, 116);
        border-radius: 10px;
    }

    h5{
        font-weight: bold;
        position: relative;
        font-size: 40px;
        left: 200px;
        top: 50px;    
    }

    h4{
        font-weight: bold;
        position: relative;
        font-size: 40px;
        left: 440px;
        top: 110px;    
    }
</style>



